<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= singleYodoger.title %></title>
  </head>
  <body>
    <h1><%= singleYodoger.title %></h1>
    <h2><%= singleYodoger.location %></h2>
    <footer>
      <div>
        <a href="/yodogers/<%= singleYodoger._id %>/edit ">Edit Yodoger</a>
      </div>
      <div><a href="/yodogers">all Yodogers</a></div>
    </footer>
  </body>
</html>
