<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yodogers</title>
  </head>
  <body>
    <h1>All Yodogers</h1>
    <a href="/yodogers/new">Add a yodoger</a>
    <ul>
      <% for (let yodoger of yodogers) { %>
      <li>
        <a href="/yodogers/<%= yodoger._id %> "><%= yodoger.title %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
